{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block content %}
  <div class="main-content">
    <div id="upload-section" class="section">
      <div class="wrapper">
        <div class="container">
          <h1>Upload Dataset</h1>
          <div class="upload-container">
            <div class="border-container">
              <div class="icons fa-4x">
                <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
              </div>
              <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <p>Upload your dataset here</p>
                <input type="file" id="file-upload" name="fileUpload" required>
                <p id="error-message" style="color: red;"></p>
                <p id="success-message" style="color: green;"></p>
                <div id="data-preview"></div>
                <button type="submit">Upload</button>
              </form>

                <button id="preview">Preview</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
